<app-kitty-card [kitty]="kitty"></app-kitty-card>

<div class="kitty-container">
    <div class="kitty-container__center">
        <ng-container *ngIf="kitty.breeds.length > 0;else MissedKitty">
            <h1 class="kitty-container__center__title">{{kitty.breeds[0].name}}</h1>
            <p class="kitty-container__center__description">{{kitty.breeds[0].description}}</p>
            <p>Origin: {{kitty.breeds[0].origin}}</p>
            <p>Temperament: {{kitty.breeds[0].temperament}}</p>
            <p>Weight: {{kitty.breeds[0].weight.metric}} kg.</p>
            <p>Energy Level: {{kitty.breeds[0].energy_level}}</p>
            <p>Dog Friendly: {{kitty.breeds[0].dog_friendly}}</p>
        </ng-container>
        
        <ng-template #MissedKitty>
            <h1>Sorry we don't have details about this kitty :(</h1>
        </ng-template>
    </div>
</div>