.cards-list {
  gap: 1rem;
  display: grid;
  justify-items: center;
  position: relative;

  @media (min-width: 320px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
  
.card-list__title {
  text-align: center;
}

.kitty-card__box {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  color: #fff;

  &__title {
    width: 90%;
    margin: 0;
    font-size: 17px;
  }
}
